<form {{on 'submit' this.addCaretaker}} class="form-container">
  {{#if this.name}}
    <button class="submitButton">Add</button>
  {{/if}}
  <Input @value={{this.name}} placeholder="Add new caretaker"/>
</form>