@import url("https://fonts.googleapis.com/css?family=Lato:300,300italic,400,700,700italic");

/**
 * Base Elements
 */

* {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a,
button {
  font-family: Lato, "Open Sans", "Helvetica Neue", "Segoe UI", Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
}

body {
  background: #f3f3f3;
}

a {
  color: #000;
  text-decoration: none;
}

button {
  font-size: 100%;
}

p {
  line-height: 1.5;
  margin-bottom: 15px;
}

input {
  padding: 11px;
  font-size: 15px;
  width: 250px;
  margin: 20px left 50px;
  background-color: rgb(255 255 255 / 75%);
  border: solid 1px lightgray;
  display: block;
}

.header-container {
  display: flex;
  align-items: center; /* Center vertically within the container */
  justify-content: space-between; /* Distribute elements with equal space between them */
}

.header-container h1 {
  margin-right: 20px; /* Add some space between the heading and the Caretaker::Add component */
}

.form-container {
  display: flex;
  align-items: center;
}

/**
 * Button
 */

.bigRedButton {
  padding: 10px 30px;
  text-decoration: none;
  color: #fff;
  background: #ba0101;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.9;
  display: inline-block;
}

.bigRedButton:hover {
  cursor: crosshair;
  opacity: 1;
  background: #f00;
  color: #f6f6f6;
}

.smallRedButton {
  padding: 5px 15px;
  text-decoration: none;
  color: #f00;
  background: #f6f6f6;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.5;
  display: inline-block;
}

.smallRedButton:hover {
  cursor: pointer;
  opacity: 1;
  background: #f00;
  color: #f6f6f6;
}

select {
  /* Add your desired styles here */
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  width: 250px;
}

/* Style the disabled option */
option[disabled] {
  color: #888;
}

.submitButton {
  padding: 10px 30px;
  text-decoration: none;
  color: #fff;
  background: #e7af89c7;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.9;
  display: inline-block;
}

.submitButton:hover {
  background: #ec9154;
}

.button {
  padding: 5px 15px;
  text-decoration: none;
  color: rgb(30 58 185);
  background: #f6f6f6;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.5;
  display: inline-block;
}

.button:hover {
  cursor: pointer;
  opacity: 1;
  background: rgb(30 58 185);
  color: #f6f6f6;
}

/**
 * Body Container
 */

.container {
  max-width: 1024px;
  min-height: 100vh;
  background: #f9f9f9;
  margin: 0 auto;
}

/**
 * Top Navigation
 */

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5em;
  background-image: url("../assets/images/tiger-ge5d8ef1fe_1280.jpg");
  background-size: cover;
  background-position: center;
  -webkit-text-stroke: 1.5px rgb(233 136 9);
  color: #fff;
}

.menu h1 {
  font-size: 2.5em;
  font-style: italic;
  margin: 0;
  padding: 5px 0 0 8px;
  align-self: center;
}

.links {
  display: flex;
  align-items: center;
}

.links a {
  text-decoration: none;
  padding: 0 15px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.links a:hover,
.links a.active {
  opacity: 1;
}

.menu a,
.menu .links {
  display: inline-block;
}

.menu a {
  text-decoration: none;
  -webkit-text-stroke: 1px rgb(233 136 9);
  padding: 0 15px;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

.menu a:hover,
.menu a.active {
  opacity: 1;
}

.menu .links {
  padding: 0 21px;
}

.menu .links a {
  position: relative;
  bottom: 5px;
}

.rentals label span {
  font-size: 140%;
  margin: 50px auto 20px;
  display: block;
  text-align: center;
  font-style: italic;
}

.rentals input {
  padding: 11px;
  font-size: 18px;
  width: 500px;
  margin: 20px auto 50px;
  background-color: rgb(255 255 255 / 75%);
  border: solid 1px lightgray;
  display: block;
}

.menu input:focus {
  background-color: #f9f9f9;
  outline: none;
}

.menu button {
  margin-right: 15px;
  position: relative;
  top: -1px;
  left: -5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #262626;
  cursor: pointer;
  opacity: 1;
}

.menu button:hover {
  background-color: #111;
  opacity: 1;
}

.menu .results {
  display: none;
  position: absolute;
  width: 215px;
  top: 54px;
  left: 10px;
  background-color: #f6f6f6;
  border-right: 1px solid rgb(0 0 0 / 5%);
  border-bottom: 1px solid rgb(0 0 0 / 5%);
}

.results {
  margin-top: -10px;
}

.results li {
  list-style: none;
  padding: 10px 15px;
}

.menu .results li:hover {
  background: #f3f3f3;
}

/**
 * Content Area
 */

.body {
  padding: 15px;
}

/**
 * Similar to Jumbotron
 */

.jumbo {
  padding: 50px;
  background: #f6f6f6;
}

.jumbo:hover {
  background-color: #f3f3f3;
}

.jumbo h2 {
  font-size: 3.2em;
  margin-top: -25px;
}

.jumbo p,
.jumbo address {
  margin-bottom: 25px;
}

.jumbo img {
  height: 200px;
  position: relative;
  top: -25px;
  right: -20px;
}

/**
 * Individual Rental Listing
 */

.zoo {
  margin-top: 15px;
  background-color: #f6f6f6;
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.zoo:hover {
  background-color: #e7af8970;
}

.zoo img {
  border-radius: 5px;
}

.zoo .image {
  flex-grow: 0;
  flex-basis: 150px;
  margin: 20px 25px;
  text-align: center;
}

.zoo button.image {
  position: relative;
  cursor: pointer;
  border: none;
  background: transparent;
  z-index: 1;
}

.zoo button.image:focus {
  outline: none;
}

.zoo button.image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  margin: -20px;
  padding: 20px;
  border-radius: 5px;
  background: #016aba;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.zoo button.image:focus::after,
.zoo button.image:hover::after {
  opacity: 0.1;
}

.zoo .image img {
  max-width: 100%;
}

.zoo .image.large {
  margin: 30px 25px 50px;
  flex-basis: 100%;
}

.zoo .image small {
  display: block;
  margin-top: 5px;
  margin-bottom: -15px;
  text-align: center;
  color: #016aba;

  /* This is needed to fix a safari clipping issue */
  position: relative;
}

.zoo .image.large small {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 110%;
}

.zoo .details {
  flex-basis: 50%;
  flex-grow: 2;
  display: flex;
  height: 150px;
  margin: 20px 25px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-around;
}

.zoo h3 {
  flex-basis: 100%;
}

.zoo h3 a {
  display: inline;
}

.zoo .detail {
  flex-basis: 50%;
  font-weight: 300;
  font-style: italic;
  white-space: nowrap;
}

.zoo .detail span {
  font-weight: 400;
  font-style: normal;
}

.zoo .map {
  flex-grow: 0;
  flex-basis: 150px;
  font-size: 0;
  margin: 0 25px;
}

.zoo .map img {
  width: 150px;
  height: 150px;
}

.zoo.detailed {
  background: none;
  align-items: flex-start;
}

.zoo.detailed .image {
  flex-basis: 320px;
}

.zoo.detailed .image.large {
  margin: 30px 25px 50px;
  flex-basis: 100%;
}

.zoo.detailed .details {
  height: auto;
}

.zoo.detailed h3 {
  font-size: 200%;
  margin-bottom: 10px;
}

.zoo.detailed .detail {
  margin: 5px 0;
  flex-basis: 100%;
  flex-shrink: 2;
}

.zoo.detailed .description {
  white-space: normal;
  flex-basis: 100%;
  flex-shrink: 1;
}

.zoo.detailed .map {
  flex-basis: 100%;
  margin: 50px 25px 25px;
}

.zoo.detailed .map img {
  width: 100%;
  height: auto;
}

@media only screen and (width <= 919px) {
  .zoo.detailed .image,
  .zoo.detailed .image.large {
    margin: 30px 25px 25px;
    flex-basis: 100%;
    cursor: default;
  }

  .zoo.detailed .image:hover {
    flex-basis: 100%;
    cursor: default;
  }

  .zoo.detailed .image small {
    display: none;
  }

  .zoo.detailed button.image:hover::after {
    opacity: 0;
  }

  .zoo.detailed button.image:focus::after {
    opacity: 0.1;
  }

  .zoo.detailed .map {
    margin-top: 25px;
  }
}

/**
 * Utilities
 */

.light {
  font-weight: 300;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hidden {
  display: none;
}

.relative {
  position: relative;
}

.tomster {
  background: url("../assets/images/teaching-tomster.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
  position: relative;
  top: -25px;
}

.screen-reader {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
