<h1>All Caretakers</h1>

<div>
  {{#each this.model as |caretaker|}}
    <li>
      <LinkTo @route="caretaker-animals" @model={{caretaker}}>
        {{caretaker.name}}
      </LinkTo>
    </li>
  {{/each}}
</div>

<AddCaretaker />
