{{page-title "Caretakers"}}
<div class="header-container">
  <h1>All Caretakers</h1>
  <Caretaker::Add />
</div>

<div>
  {{#each this.model as |caretaker|}}
    <LinkTo @route="caretaker-animals" @model={{caretaker}}>
      <li class="zoo">
        <h3>{{caretaker.name}}</h3>
      </li>
    </LinkTo>
  {{/each}}
</div>