<h1>All Caretakers</h1>


<div>
  {{#each this.model as |caretaker|}}
    <li class="rental">
      <LinkTo @route="caretaker-animals" @model={{caretaker}}>
        <h3>{{caretaker.name}}</h3>
      </LinkTo>
    </li>
  {{/each}}
</div>

<Caretaker::Add />