<h1>Animals for {{this.model.name}}</h1>

<ul>
  {{#each this.model.animals as |animal|}}
    <li>{{animal.species}} - {{animal.diet}}</li>
  {{/each}}
</ul>

{{!Ik wil hier een dropdown zetten dat een waar ik de keuze heb uit alle bestaande dieren in triple-store.
Ik zit hier wat vast, maar denk dat ik wat in de knoop geraak met de model-hook. 
Stel je maakt een component:
<AddAnimalToCaretaker @caretaker ......? />
daar zit ik wat vast/in de knoop van hoe en wat}}
