<div class="jumbo">
  <h2>Welcome to Zoo-foodmanager</h2>
  <p>Find caretakers for various animals in our database.</p>
  <p class="light">Click on "Caretakers" in the menu to view the caretakers list.</p>
  <div class="tomster screen-reader">Teaching Tomster</div>
</div>
