<form {{on 'submit' this.addAnimal}} class="form-container">
  {{#if this.species}}
    {{#if this.diet}}
    <button class="submitButton">Add</button>
    {{/if}}
  {{/if}}
  <Input @value={{this.species}} placeholder="Add new animal"/>
  <Input @value={{this.diet}} placeholder="and its diet"/>
</form>